
<ion-content class="background" [fullscreen]="true">
  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col size="6">
      <br>
      <img src="../../assets/ortopedia/logo-menu.png">
      <br><br>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="menu-botonl" size="4">
      <ion-card class="menu-card">
        <img src="../../assets/ortopedia/iconos/eventos.png">
      </ion-card>
    </ion-col>
    <ion-col class="menu-botonm" size="4">
      <ion-card class="menu-card">
        <img src="../../assets/ortopedia/iconos/membresia.png">
      </ion-card>
    </ion-col>
    <ion-col class="menu-botonr" size="4">
      <ion-card class="menu-card">
        <img src="../../assets/ortopedia/iconos/cursos.png">
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="menu-botonl" size="4">
      <ion-card class="menu-card">
      <img src="../../assets/ortopedia/iconos/web.png">
      </ion-card>
    </ion-col>
    <ion-col class="menu-botonm" size="4">
      <ion-card class="menu-card">
      <img src="../../assets/ortopedia/iconos/publicaciones.png">
      </ion-card>
    </ion-col>
    <ion-col class="menu-botonr" size="4">
      <ion-card class="menu-card">
      <img src="../../assets/ortopedia/iconos/socios.png">
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="menu-botonl" size="4">
      <ion-card class="menu-card">
      <img src="../../assets/ortopedia/iconos/directivo.png">
      </ion-card>
    </ion-col>
    <ion-col class="menu-botonm" size="4">
      <ion-card class="menu-card">
      <img src="../../assets/ortopedia/iconos/contacto.png">
      </ion-card>
    </ion-col>
    <ion-col class="menu-botonr" size="4">
      <ion-card class="menu-card">
      <img src="../../assets/ortopedia/iconos/biblioteca.png">
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
