
<ion-content class="background" [fullscreen]="true">
  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col size="6">
      <br>
      <img alt="menu" src="../../assets/ortopedia/menu-logo.png">
      <br><br>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
  <ion-row class="row-mix">
    <ion-col class="menu-botonl menu-left" size="4">
      <ion-card class="menu-card"  (click)="irPagina('eventos')">
        <img alt="button-eve" src="../../assets/ortopedia/iconos/eventos.png">
      </ion-card>
    </ion-col>
    <ion-col class="menu-botonm" size="4">
      <ion-card class="menu-card" (click)="irPagina('membresia')">
        <img alt="button-mem" src="../../assets/ortopedia/iconos/membresia.png">
      </ion-card>
    </ion-col>
    <ion-col class="menu-botonr menu-right" size="4">
      <ion-card class="menu-card" (click)="irPagina('cursos')">
        <img alt="button-cur" src="../../assets/ortopedia/iconos/cursos.png">
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="row-mix">
    <ion-col class="menu-botonl menu-left" size="4">
      <ion-card class="menu-card" (click)="irPagina('webinars')">
      <img alt="button-web" src="../../assets/ortopedia/iconos/web.png">
      </ion-card>
    </ion-col>
    <ion-col class="menu-botonm" size="4">
      <ion-card class="menu-card" (click)="irPagina('publicaciones')">
      <img alt="button-pub" src="../../assets/ortopedia/iconos/publicaciones.png">
      </ion-card>
    </ion-col>
    <ion-col class="menu-botonr menu-right" size="4">
      <ion-card class="menu-card" (click)="irPagina('socios')">
      <img alt="button-soc" src="../../assets/ortopedia/iconos/socios.png">
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="menu-botonl menu-left" size="4">
      <ion-card class="menu-card" (click)="irPagina('consejo')">
      <img alt="button-dir" src="../../assets/ortopedia/iconos/directivo.png">
      </ion-card>
    </ion-col>
    <ion-col class="menu-botonm" size="4">
      <ion-card class="menu-card" (click)="irPagina('contacto')">
      <img alt="button-con" src="../../assets/ortopedia/iconos/contacto.png">
      </ion-card>
    </ion-col>
    <ion-col class="menu-botonr menu-right" size="4">
      <ion-card class="menu-card" (click)="irPagina('biblio')">
      <img alt="button-bib" src="../../assets/ortopedia/iconos/biblioteca.png">
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
