ion-content.background{
    --background: url(../../../assets/ortopedia/FONDO2.png ) 0 0/100% 100% no-repeat;
    --color: #ffff;
}

.center{
    text-align: center; 
   }
   
   .little{
       font-size: medium;
       margin-bottom: 24px;
   }

   .yellow{
    --background: rgba(255, 255, 255, 0) ;
    --color:#ffff;
    border-radius: 91px 91px 91px 91px;
-moz-border-radius: 91px 91px 91px 91px;
-webkit-border-radius: 91px 91px 91px 91px;
border: 2px solid #c99030;
margin-inline-end: auto;
text-size-adjust: auto;
box-shadow: none !important;
margin-bottom: 30px;
}

.transp{
    --background: none;
    --color:#ffff;
    box-shadow: none !important;
border: 0px solid #c9913000;
margin-inline-end: auto;
}


.cont{
    font-size: x-large;
    text-align: end;
    margin-right: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: contain;
}

.medium{
    font-size: large;
    margin-right: 4px;
    margin-top: 9px;
    
}

.middl{
    font-size: larger;
    
}

.smalle{
    font-size: x-small;
    margin-top: 9px;
}

.smallrow{
    margin-top: -18px;
    margin-bottom: -44px;
}
