<ion-content class="background">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="6">
      <br>
      <img alt="contacto" src="../../../assets/ortopedia/iconos/contact-pagina.png">
    </ion-col>
    <ion-col size="5"></ion-col>
  </ion-row>

  <br>
  <ion-row>
    
    <ion-col size="12">
      <h4 class="center subttle little">Colegio Mexicano de Ortopedia y Traumatología, A.C.</h4>
    </ion-col>
    
  </ion-row>
  

  <ion-row>
    <ion-col size="7">
      <ion-card class="yellow">
        <h1 class="cont">Horarios</h1>
      </ion-card>
      <ion-card class="yellow">
        <h1 class="cont">Dirección</h1>
      </ion-card>
      <ion-card class="yellow">
        <h1 class="cont">Teléfonos</h1>
      </ion-card>
      <ion-card class="yellow">
        <h1 class="cont">E-mail</h1>
      </ion-card>
    </ion-col>
    <ion-col size="5">
      <ion-card class="transp">
        <h4 class="medium center">Lunes a Viernes
          09:00 a 18:00 hrs</h4>
      </ion-card>
        <ion-card class="transp">
          <h4 class="smalle center">World Trade Center México.
            Montecito #38, piso 25,
            Oficinas 23 a 27. Col. Nápoles,
            CDMX., CP.03810</h4>
        </ion-card>
          <ion-card class="transp">
            <h4 class="medium center">(55) 9000 2790</h4>
          </ion-card>
          <ion-card class="transp">
            <h4 class="middl center">smo@smo.edu.mx</h4>
          </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
