<ion-content class="background">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="6">
      <br>
      <img alt="biblioteca" src="../../../assets/ortopedia/iconos/biblio-pagina.png">
    </ion-col>
    <ion-col size="5"></ion-col>
  </ion-row>
<p></p>
  <ion-row class="smallrow">
    <ion-col size="12">
      <ion-card class="info">
       <br>
        <ion-row class="smallrow">
          <ion-col size="12">
            <h4 class="center shadow-tittle">Revista AOM</h4>
          </ion-col>
        </ion-row>
        <br>

        <ion-row class="smallrow">        
          <ion-col size="12">
            <p></p>
            <ion-item  lines="none">
              <ion-label class="little ion-text-wrap">Acta Ortopédica Mexicana</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Artículos más leídos</ion-label>
            </ion-item>
            <br>
            </ion-col>
            </ion-row>
            </ion-card>
            </ion-col>
            </ion-row>
            <br><br> <br> 
            <ion-row class="smallrow">
              <ion-col size="12">
                <ion-card class="info">
                 <br>
                  <ion-row class="smallrow">
                    <ion-col size="12">
                      <h4 class="center shadow-tittle">Sociedades Afines</h4>
                    </ion-col>
                  </ion-row>
                  <br>
          
                  <ion-row class="smallrow">    
                    <ion-col size="12">
                      <p></p>

                      <ion-item  lines="none">
                        <ion-row>
                          <ion-col size="3"><img alt="sociedad1" src="../../../assets/ortopedia/sociedades/sociedad-1.png"></ion-col>
                          <ion-col size="9">
                            <ion-label class="little ion-text-wrap">Consejo Mexicano de Ortopedia y Traumatología A.C.</ion-label>
                          </ion-col>
                        </ion-row>
                      </ion-item>

                        <ion-item  lines="none">
                          <ion-row>
                            <ion-col size="3"><img alt="sociedad1" src="../../../assets/ortopedia/sociedades/sociedad-2.png"></ion-col>
                            <ion-col size="9">
                              <ion-label class="little ion-text-wrap">Asociación Mexicana de Cirugía Reconstructiva, Articular y Artroscopía</ion-label>
                            </ion-col>
                          </ion-row>
                        </ion-item>

                          <ion-item  lines="none">
                            <ion-row>
                              <ion-col size="3"><img alt="sociedad1" src="../../../assets/ortopedia/sociedades/sociedad-3.png"></ion-col>
                              <ion-col size="9">
                                <ion-label class="little ion-text-wrap">Asociación Mexicana de Cirujanos de Columna, A.C.</ion-label>
                              </ion-col>
                            </ion-row>
                          </ion-item> 

                          <ion-item  lines="none">
                            <ion-row>
                              <ion-col size="3"><img alt="sociedad1" src="../../../assets/ortopedia/sociedades/sociedad-4.png"></ion-col>
                              <ion-col size="9">
                                <ion-label class="little ion-text-wrap">Federación Mexicana de Colegios de Ortopedia y Traumatología A.C.</ion-label>
                              </ion-col>
                            </ion-row>
                          </ion-item> 

                          <ion-item  lines="none">
                            <ion-row>
                              <ion-col size="3"><img alt="sociedad1" src="../../../assets/ortopedia/sociedades/sociedad-5.png"></ion-col>
                              <ion-col size="9">
                                <ion-label class="little ion-text-wrap">Sociedad Mexicana de Cirujanos de Hombro y Codo, A.C.</ion-label>
                              </ion-col>
                            </ion-row>
                          </ion-item> 

                          <ion-item  lines="none">
                            <ion-row>
                              <ion-col size="3"><img alt="sociedad1" src="../../../assets/ortopedia/sociedades/sociedad-6.png"></ion-col>
                              <ion-col size="9">
                                <ion-label class="little ion-text-wrap">Sociedad Mexicana de Cirugía de Cadera, A.C.</ion-label>
                              </ion-col>
                            </ion-row>
                          </ion-item> 

                          <ion-item  lines="none">
                            <ion-row>
                              <ion-col size="3"><img alt="sociedad1" src="../../../assets/ortopedia/sociedades/sociedad-7.jpg"></ion-col>
                              <ion-col size="9">
                                <ion-label class="little ion-text-wrap">Sociedad Mexicana de Pie y Tobillo A.C.</ion-label>
                              </ion-col>
                            </ion-row>
                          </ion-item> 

                          <ion-item  lines="none">
                            <ion-row>
                              <ion-col size="3"><img alt="sociedad1" src="../../../assets/ortopedia/sociedades/sociedad-8.png"></ion-col>
                              <ion-col size="9">
                                <ion-label class="little ion-text-wrap">sociación Mexicana de Metabolismo Óseo y Mineral A.C.</ion-label>
                              </ion-col>
                            </ion-row>
                          </ion-item> 

                          <ion-item  lines="none">
                            <ion-row>
                              <ion-col size="3"><img alt="sociedad1" src="../../../assets/ortopedia/sociedades/sociedad-9.jpg"></ion-col>
                              <ion-col size="9">
                                <ion-label class="little ion-text-wrap">Sociedad Mexicana de Ortopedia Pediátrica</ion-label>
                              </ion-col>
                            </ion-row>
                          </ion-item> 

                          <ion-item  lines="none">
                            <ion-row>
                              <ion-col size="3"><img alt="sociedad1" src="../../../assets/ortopedia/sociedades/sociedad-10.jpg"></ion-col>
                              <ion-col size="9">
                                <ion-label class="little ion-text-wrap">Sociedad Mexicana de Cirugía de la mano y Microcirugía</ion-label>
                              </ion-col>
                            </ion-row>
                          </ion-item> 
                          <ion-item  lines="none">
                            <ion-row>
                              <ion-col size="3"><img alt="sociedad1" src="../../../assets/ortopedia/sociedades/sociedad-11.png"></ion-col>
                              <ion-col size="9">
                                <ion-label class="little ion-text-wrap">Academia Nacional de Medicina de México</ion-label>
                              </ion-col>
                            </ion-row>
                          </ion-item> 

                          <ion-item  lines="none">
                            <ion-row>
                              <ion-col size="3"><img alt="sociedad1" src="../../../assets/ortopedia/sociedades/sociedad-12.png"></ion-col>
                              <ion-col size="9">
                                <ion-label class="little ion-text-wrap">Academia Mexicana de Cirugía, A.C.</ion-label>
                              </ion-col>
                            </ion-row>
                          </ion-item> 
                          <br><br>

                      </ion-col>
                      </ion-row>
                      
                      </ion-card>
                      </ion-col>
                      </ion-row>
          


</ion-content>