<ion-content class="background">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="6">
      <br>
      <img src="../../../assets/ortopedia/iconos/consejo-pagina.png">
    </ion-col>
    <ion-col size="5"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-card class="yellow">
        <ion-row>
          <ion-col size="4">
            <img alt="drJorge" src="../../../assets/ortopedia/directivo/drjorgen.png">
          </ion-col>
          <ion-col size="8">
            <h4 class="center little">Dr. Jorge Negrete Corona</h4>
            <h4 class="center littlet">Presidente</h4>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card class="yellow">
        <ion-row>
          <ion-col size="4">
            <img alt="drGuillermo" src="../../../assets/ortopedia/directivo/drguillermog.png">
          </ion-col>
          <ion-col size="8">
            <h4 class="center little">Dr. Guillermo García Pinto</h4>
            <h4 class="center littlet">Vicepresidente</h4>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card class="yellow">
        <ion-row>
          <ion-col size="4">
            <img alt="drDaniel" src="../../../assets/ortopedia/directivo/drdanield.png">
          </ion-col>
          <ion-col size="8">
            <h4 class="center little">Dr. Daniel Diego Ball</h4>
            <h4 class="center littlet">Secretario Propietario</h4>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

</ion-content>
