<ion-content class="background">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="6">
      <br>
      <img alt="publicaciones" src="../../../assets/ortopedia/iconos/publi-pagina.png">
    </ion-col>
    <ion-col size="5"></ion-col>
  </ion-row>
  <p></p>
  <ion-row class="smallrow">
    <ion-col size="12">
      <ion-card class="info">
       <br>
        <ion-row class="smallrow">
          <ion-col size="12">
            <ion-card class="yellow">
              <h4 class="center subttle">Información para pacientes</h4>            
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row class="smallrow">
         
          <ion-col size="12">
            <h4 class="center shadow-tittle">Huesos Rotos y Otras Heridas</h4>
            
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Desgarres del manguito de los rotadores (Rotator Cuff Tears)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Desgarros de los meniscus (Meniscus Tears)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Dolor de hombro y problemas comunes del hombro (Shoulder Pain and Common Shoulder Problems)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Esguinces, torceduras y otras lesiones de los tejidos blandos (Sprains, Strains and Other Soft-Tissue Injuries)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Fractura del hueso escafoides de la muñeca (Scaphoid Fracture of the Wrist)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Fracturas del antebrazo en los niños (Forearm Fractures in Children) </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Fracturas del cartílago de crecimiento (Growth Plate Fractures)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Fracturas distales del radio (muñeca quebrada) (Distal Radius Fractures (Broken Wrist))</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Lesiones del ligamento cruzado anterior (Anterior Cruciate Ligament Injuries)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Lesiones deportivas en la secundaria (High School Sports Injuries)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Zapatos (Shoes)</ion-label>
            </ion-item> <br>

            <h4 class="center shadow-tittle">Enfermedades y Síndromes</h4>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Artritis del hombro (Arthritis of the Shoulder)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Atrapamiento del nervio cubital en el codo (síndrome del túnel cubital) (Ulnar Nerve Entrapment at the Elbow (Cubital Tunnel Syndrome))</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Bursitis de cadera (Hip Bursitis)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Codo de tenista (epicondilitis lateral) (Tennis Elbow (Lateral Epicondylitis))</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Compresión del hombro/ Tendinitis del manguito rotador (Shoulder Impingement/Rotator Cuff Tendinitis)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Cuidado del pie diabético (Care of the Diabetic Foot)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Dedo en gatillo (Trigger Finger) </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Dolor de rodilla anterior en adolescentes (Adolescent Anterior Knee Pain)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">El pie equino (Clubfoot)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">El síndrome de dolor patelofemoral (Patellofemoral Pain Syndrome)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Espondilosis cervical (osteoartritis de cuello) (Cervical Spondylosis)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Estenosis de la columna lumbar (Lumbar Spinal Stenosis)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Fascitis plantar y protuberancias óseas (Plantar Fasciitis and Bone Spurs)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Hernia de disco en la columna lumbar (Herniated Disk in the Lower Back)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Hombro congelado (Frozen Shoulder)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Lumbalgia (Low Back Pain)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Osteoartritis de cadera (Hip Osteoarthritis)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Osteoartritis de rodilla (Knee Osteoarthritis)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Osteoporosis (Introduction to Osteoporosis)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Pie diabético (Charcot) (Diabetic Charcot Foot)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Piernas arqueadas (Bowed Legs)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Quiste ganglionar de la muñeca y la mano (Ganglion Cyst of the Wrist and Hand)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Radiculopatía cervical (nervio pinzado) (Cervical Radiculopathy (Pinched Nerve))</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Síndrome de Dolor Regional Complejo (Distrofia Simpática Refleja) (Complex Regional Pain Syndrome)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Síndrome del túnel carpiano (Carpal Tunnel Syndrome)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Trombosis venosa profunda (Deep Vein Thrombosis)</ion-label>
            </ion-item><br>

            <h4 class="center shadow-tittle">Tratamiento y Rehabilitación</h4>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Actividades después de reemplazo de cadera (Activities After Hip Replacement)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Actividades posteriores a un remplazo de rodilla (Activities After Knee Replacement)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Artroscopia de rodilla (Knee Arthroscopy)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Cómo prepararse para la cirugía de reemplazo articular (Getting Ready for Joint Replacement)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Cuidado de yesos y férula (Care of Casts and Splints)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Desgarres del manguito de los rotadores (Rotator Cuff Tears)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Ejercicio después de cirugía del hombro (Shoulder Surgery Exercises)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Ejercicio después de reemplazo de rodilla (Knee Replacement Exercises) </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Ejercicios después de artroscópica (Knee Arthroscopy Exercises)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Glucosamina y sulfato de condroitina (Glucosamine and Chondroitin Sulfate)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Guía del Paciente para la cirugía segura (Patient Guide to Safe Surgery)
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Guía de ejercicios para la parte baja de la espalda (Back Exercises)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Radiculopatía cervical: opciones de tratamiento quirúrgico (Cervical Radiculopathy: Surgical Treatment Options)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Reemplazo total de cadera (Total Hip Replacement)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Reemplazo total de rodilla (Total Knee Replacement)</ion-label>
            </ion-item><br>

            <h4 class="center shadow-tittle">Los Hijos</h4>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Asientos de seguridad para niños (Child Safety Seats)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">El impacto de la obesidad infantil en la salud de los huesos, las articulaciones y los músculos (The Impact of Childhood Obesity on Bone, Joint, and Muscle Health)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Fracturas de los codos en los niños (Elbow Fractures in Children)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Fracturas del cartílago de crecimiento (Growth Plate Fractures)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Lesiones deportivas en la secundaria (High School Sports Injuries)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Piernas arqueadas (Bowed Legs)</ion-label>
            </ion-item><br>

            <h4 class="center shadow-tittle">Prevención y Seguridad</h4>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Asientos de seguridad para niños (Child Safety Seats)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Cómo prevenir el dolor de espalda en el trabajo y el hogar (Preventing Back Pain at Work and at Home)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Huesos saludables en todas las edades (Healthy Bones at Every Age)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Pautas para prevenir caídas (Guidelines for Preventing Falls)</ion-label>
            </ion-item>
            <h4 class="center">Su Cuidado de Salud</h4>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Cómo aprovechar al máximo la visita a su médico (Getting the Most Out of a Visit with Your Doctor) </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Conceptos básicos de la columna (Spine Basics)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Los pacientes son miembros importantes del equipo de atención médica (Patients Are Important Members of the Healthcare Team)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Obesidad, pérdida de peso y cirugía de reemplazo articular (Obesity, Weight Loss, and Joint Replacement Surgery)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Ortopedia (Orthopaedics)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Preparación para la cirugía: Lista de verificación de los problemas de salud (Preparing for Surgery: Health Condition Checklist)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Preparación para la cirugía: Lista de verificación de seguridad de medicamentos (Preparing for Surgery: Medication Safety Checklist)</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Tabaquismo y la salud músculo-esquelética (Smoking and Musculoskeletal Health)</ion-label>
            </ion-item><br>
            <h4 class="center shadow-tittle">Recursos</h4>
            <ion-item lines="none">
              <ion-label class="little ion-text-wrap">Glosarios de exámenes generales de diagnóstico ortopédico (Diagnostic Orthopaedic Glossary)</ion-label>
            </ion-item>
            <br>
            
          </ion-col>
        </ion-row>

       
        
      </ion-card>
    </ion-col>
    
  </ion-row>



</ion-content>
