
<ion-content class="background">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="6">
      <br>
      <img alt="webinar" src="../../../assets/ortopedia/iconos/web-pagina.png">
    </ion-col>
    <ion-col size="5"></ion-col>
  </ion-row>

  <p></p>
  <ion-row class="smallrow">
    <ion-col size="12"> 
      <ion-card class="info">
        <p></p>
        <h4 class="center shadow-tittle">Sesión Reglamentaria Infecciones Periprotésicas en Cadera </h4>
        <div class="centered" align="center">
        <img  src="../../../assets/ortopedia/videos/web-1.png" alt="congreso1">
        <ion-item lines="none">
          <ion-label class="littlef ion-text-wrap center">Webinar gratuito</ion-label>
        </ion-item> 
      </div>
        <br>
        <p></p>
        <h4 class="center shadow-tittle">Sesión Reglamentaria  </h4>
        <div class="centered" align="center">
        <img  src="../../../assets/ortopedia/videos/web-2.png" alt="congreso1">
        <ion-item lines="none">
          <ion-label class="littlef ion-text-wrap center">Webinar gratuito</ion-label>
        </ion-item>
      </div>
        <br>
        <!-->
          <img src="../../../assets/ortopedia/videos/video-3.png" alt="congreso1">
        <ion-item lines="none">
          <ion-label class="little ion-text-wrap center">SESIÓN REGLAMENTARIA 03/2018
            4 de abril, a las 20:30hrs. Auditorio CMO</ion-label>
        </ion-item>
        <br>
        <img src="../../../assets/ortopedia/videos/video-4.png" alt="congreso1">
        <ion-item lines="none">
          <ion-label class="little ion-text-wrap center">SESIÓN REGLAMENTARIA 02/2018
            7 de marzo, a las 20:30hrs. Auditorio CMO</ion-label>
        </ion-item>
        <br>
        <img src="../../../assets/ortopedia/videos/video-5.png" alt="congreso1">
        <ion-item-- lines="none">
          <ion-label class="little ion-text-wrap center">SESIÓN REGLAMENTARIA 01/2018
            7 de febrero, a las 20:30hrs. Auditorio CMO</ion-label>
        </ion-item-->
        <br>
        <br><br>
  </ion-card>
  </ion-col>
</ion-row>

</ion-content>