ion-content.background{
    --background: url(../../assets/ortopedia/FONDO2.png ) 0 0/100% 100% no-repeat;
}

.notNotif{
    color: #ffffff69;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}